@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  @layer base {
    ::-webkit-scrollbar-thumb{
        @apply bg-purple shadow-sm w-2
        }
        ::-webkit-scrollbar-thumb::horizontal {
            @apply  bg-purple-200 hover:bg-white active:bg-white w-2 
          }
        ::-webkit-scrollbar{
        @apply w-2 bg-purple
           
        }
        ::-webkit-scrollbar-thumb{
        @apply rounded-md bg-purple-200 hover:bg-white active:bg-white w-2 
        }
        input[type=number] {
            -moz-appearance:textfield;
        }
    
}
  color: rgb(var(--foreground-rgb));

}
